<div class="main-container doc-demo-main-container">
  <header class="header-6">
    <div class="branding">
      <a (click)="onNavigateToTodosComponent($event)">
        <span class="title">{{ appName }}</span>
      </a>
    </div>

    <!-- NAVIGATION DEFINITIONS -->
    <div class="header-nav">
      <a routerLink="todos" routerLinkActive="active" class="nav-link nav-text">
        Todos
      </a>
      <a routerLink="about" routerLinkActive="active" class="nav-link nav-text">
        About
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- (paramChange)="todoListParam = $event" -->
<!-- <app-todo-list></app-todo-list> -->

<!-- <button
  [attr.aria-label]="'Label'"
  [class]="showPrimaryButton ? 'btn btn-primary' : 'btn btn-danger'"
>
  HELLO WORLD
</button> -->

<!-- <p *ngIf="showParagraph" appChangeText [ngStyle]="paragraphStyle">
  {{ 'Hello! Angular Starter Project' | case}}
</p> -->

<!-- <p appChangeText [ngStyle]="paragraphStyle">
  {{ 'Hello! Angular Starter Project' | case: 'uppercase' }}
</p>

<p>{{ today | date: 'YYYY-MM-DDTHH:mm:ss.sssZ' }}</p> -->

<!-- <ng-container
  *ngFor="let user of users; let index = index; trackBy: trackByItems"
>
  <p>===============================</p>
  <p>User {{ index }}</p>
  <p>Name : {{ user?.name }}</p>
  <p>Lastname : {{ user?.lastname }}</p>
  <p>University : {{ user?.university }}</p>
  <p>FAC : {{ user?.fac }}</p>
  <p>===============================</p>
</ng-container> -->

<!-- <div [ngSwitch]="conditionExpression">
  <div *ngSwitchCase="expression">output</div>
  <div *ngSwitchDefault>output2</div>
</div> -->

<!-- <app-card>
  <app-card-title
    title
    class="card-title"
    title
    [title]="'APP CARD TITLE'"
  ></app-card-title>
  <app-card-content [content]="'APP CONTENT'" content></app-card-content>
  <app-card-footer [footer]="'APP FOOTER'" footer></app-card-footer>
</app-card> -->

<!-- select="[attribue]"-->
<!-- select="element"-->
<!-- select="element.className"-->

<!-- <ng-container *ngIf="talkObservable2$ | async as talk">
  <p> {{ talk }} </p>
</ng-container>

<ng-container *ngIf="numberOrSubsribers$ | async as total">
  <p> Subscribers: {{ total }} </p>
</ng-container> -->

<!-- <ng-container *ngIf="tasks$ | async as tasks">
  <ng-container *ngFor="let item of tasks">
    <p>Task name: {{ item?.label }}</p>
    <p>Date Création:{{ item?.createAt | date }}</p>
  </ng-container>
</ng-container> -->
