<div class="clr-row">
  <div class="clr-col-12">
    <div class="card">
      <div class="card-header">
        LISTE DES TÂCHES À EXÉCUTER
      </div>
      <div class="card-block">
        <ng-container *ngIf="todos$ | async as todos">
          <ul class="todo-container">
            <ng-container *ngFor="let todo of todos; let last = last">
              <!-- APP TODO ELEMENT VIEW COMPONENT -->
              <app-todo-view
                (completedChange)="onTodoCompletedChange(todo, $event)"
                [todo]="todo"
              ></app-todo-view>
              <!--\ APP TODO ELEMENT VIEW COMPONENT -->
              <div class="separator" *ngIf="!last"></div>
            </ng-container>
          </ul>
        </ng-container>
        <!-- APP TODO INPUT -->
        <app-todo-input
          [model]="model$"
          [performingAction]="(uistate$ | async)?.performingAction"
          [(label)]="label"
        ></app-todo-input>
        <!--\ APP TODO INPUT -->
      </div>
      <div class="card-footer">
        <button
          [disabled]="(uistate$ | async)?.performingAction"
          (click)="onAddButtonClick()"
          class="btn btn-sm btn-link"
        >
          AJOUTER
        </button>
      </div>
    </div>
  </div>
</div>
