:host ::ng-deep .clr-input,
:host ::ng-deep .clr-control-container {
  width: 100% !important;
}

.card {
  margin: auto;
  width: 520px;
}

@media(max-width: 760px) {
  .card {
    width: 320px;
  }
}

ul.todo-container {
  display: block;
  min-height: 200px;
  height: 200px;
  max-height: 420px;
  overflow-y: scroll;
}
